DATABASE_URL="postgresql://user:password@localhost:5432/healthcare_db?schema=public"
JWT_SECRET="your_jwt_secret_key"
APP_SECRET="your_32_byte_secret_key"
GEMINI_API_KEY=""
GROQ_API_KEY=""
RESEND_API_KEY=""
EMAIL_FROM="onboarding@resend.dev"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:5000/api/v1/calendar/callback"
FRONTEND_URL="http://localhost:5173"
ADMIN_EMAIL="admin@clinic.com"
ADMIN_PASSWORD="AdminPassword123!"
PORT=5000
